<form action="{% url 'post:read-later' slug %}" method="post">
    <input type="hidden" name="read_later" id=""
           value="{% if  slug in request.session.read_later %}0{% else %}1{% endif %}">
    {% csrf_token %}
    <button class="btn">

        {% if slug in request.session.read_later %}
            <i class="text-secondary pe-7s-star" title="Click to remove"></i>

        {% else %}

            <i class="text-danger pe-7s-star" title="Click to read later"></i>
        {% endif %}

    </button>

</form>
