
p.author {
    font-style: italic;
    font-weight: bold;
    color: darkgray;
}

p.post-date {
    font-style: italic;
    font-weight: bold;
    color: darkslategray;
}

.post-tag a {
    display: block;
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 3px;

}

.post-tag {
    display: inline-block;
    margin-bottom: 5px;
}

.comment-text {

    background: lightblue;
    border-radius: 2px;
    padding: 4px;
}

.post-info {
    background: lightblue;
    float: right;
    padding: 10px;
    border-radius: 0 0 30px 5px;
}