{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <b>{{ author.full_name }}</b>
    </div>
    <div class="row">
        <div class="col-6">First name :</div>
        <div class="col-6">{{ author.first_name }}</div>
        <div class="col-6">Last name :</div>
        <div class="col-6">{{ author.last_name }}</div>
        <div class="col-6">Email :</div>
        <div class="col-6">{{ author.email }}</div>

    </div>
    <hr>
    <div class="row">
        <div class="col-12 ">
            <div class="btn btn-danger float-right" onClick="javascript:history.go(-1);">Go Back</div>
        </div>
    </div>

{% endblock %}
