{% extends 'base.html' %}
{% load static %}
{% block custom_css_files %}
    <link rel="stylesheet" href="{% static 'posts/common.css' %}">

    <link rel="stylesheet" href="{% static 'posts/latest.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6 text-center full-content">
            <h2 class="section-title no-border v-3"><span>Latest</span> From Blog</h2>
            <p class="sub-section-title v-2">Explore latest three Posts from the blog</p>
            <div class="mrb-45"></div>
            <!--  /.mrb -->
        </div>
        <!--  /.col-md-12 -->
    </div>
    <!--  /.row -->

    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-6 col-xl-4">
                        <article class="post">
                            <div class="article-v2">
                                <figure class="article-thumb">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img class="post-image" alt="blog image" src="{{ post.image.url }}" width="350"
                                             height="200"/>
                                    </a>
                                </figure>
                                <!-- /.article-thumb -->
                                <div class="article-content-main">
                                    <div class="article-header">
                                        <h2 class="entry-title">
                                            <a href="{{ post.get_absolute_url }}">
                                                {{ post.title|truncatechars:80|truncatewords:10 }}
                                            </a>
                                        </h2>
                                        <div class="entry-meta">
                                            <div class="entry-date">{{ post.creation }}</div>
                                            <!-- /.entry-date -->
                                            <div class="entry-cat">
                                                <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a>
                                            </div>
                                            <!--  /.entry-cat -->
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.article-header -->
                                    <div class="article-content">
                                        <p>{{ post.content|truncatechars:200|truncatewords:25 }}</p>
                                    </div>
                                    <!--  /.article-content -->
                                    <div class="article-footer">
                                        <div class="row">
                                            <div class="col-6 text-left footer-link">
                                                <a class="more-link" href="{{ post.get_absolute_url }}">Read More</a>
                                            </div>
                                            <!--  /.col-6 -->
                                            <div class="col-6 text-right footer-meta">
                                                <a href="#">65 <i class="pe-7s-comment"></i></a>
                                                <a href="#">50 <i class="pe-7s-share"></i></a>
                                                {% include 'post/includes/read_later.html' with slug=post.slug %}
                                            </div>
                                            <!--  /.col-6 -->
                                        </div>
                                        <!--  /.row -->
                                    </div>
                                    <!--  /.article-footer -->
                                </div>
                                <!--  /.article-content-main -->
                            </div>
                            <!--  /.article-v2 -->
                        </article>
                        <!--  /.post -->
                    </div>
                    <!--  /.col-md-6 -->
                {% endfor %}
            </div>
            <!--  /.blog-carousel -->
        </div>
        <!--  /.col-12 -->
    </div>
    <!--  /.row -->

{% endblock %}