{% extends 'base.html' %}
{% load static %}
{% block custom_css_files %}
    <link rel="stylesheet" href="{% static 'posts/common.css' %}">
    <link rel="stylesheet" href="{% static 'posts/view.css' %}">
{% endblock %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-8 col-md-12 left-box">
            <div class="card single_post">
                <div class="body">
                    <div class="img-post">
                        <img alt="First slide" class="d-block img-fluid"
                             src="https://via.placeholder.com/800x280/87CEFA/000000">
                    </div>
                    <div class="row">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            {% for tag in post.tags.all %}
                                <li class="post-tag"><a href="javascript:void(0);">{{ tag.caption }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                    <h3><a href="blog-details.html">{{ post.title }}</a></h3>
                    <p class="post-date">Written in: {{ post.creation_datetime }}</p>
                    {% if post.author %}

                        <p class="author">Written by: <a href="{{ post.author.get_abolute_url }}">{{ post.author }}</a>
                        </p>

                    {% endif %}
                    <p>{{ post.content }}</p>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>Comments 3</h2>
                </div>
                <div class="body">
                    <ul class="comment-reply list-unstyled">
                        <li class="row clearfix">
                            <div class="icon-box col-md-2 col-4">
                                <img alt="Awesome Image"
                                     class="img-fluid img-thumbnail"
                                     src="https://bootdey.com/img/Content/avatar/avatar7.png">
                            </div>
                            <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                <h5 class="m-b-0">Gigi Hadid </h5>
                                <p>Why are there so many tutorials on how to decouple WordPress? how fast and easy
                                    it is to get it running (and keep it running!) and its massive ecosystem. </p>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);">Mar 09 2018</a></li>
                                    <li><a href="javascript:void(0);">Reply</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="row clearfix">
                            <div class="icon-box col-md-2 col-4"><img alt="Awesome Image"
                                                                      class="img-fluid img-thumbnail"
                                                                      src="https://bootdey.com/img/Content/avatar/avatar3.png">
                            </div>
                            <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                <h5 class="m-b-0">Christian Louboutin</h5>
                                <p>Great tutorial but few issues with it? If i try open post i get following errors.
                                    Please can you help me?</p>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);">Mar 12 2018</a></li>
                                    <li><a href="javascript:void(0);">Reply</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="row clearfix">
                            <div class="icon-box col-md-2 col-4"><img alt="Awesome Image"
                                                                      class="img-fluid img-thumbnail"
                                                                      src="https://bootdey.com/img/Content/avatar/avatar4.png">
                            </div>
                            <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                <h5 class="m-b-0">Kendall Jenner</h5>
                                <p>Very nice and informative article. In all the years I've done small and
                                    side-projects as a freelancer, I've ran into a few problems here and there.</p>
                                <ul class="list-inline">
                                    <li><a href="javascript:void(0);">Mar 20 2018</a></li>
                                    <li><a href="javascript:void(0);">Reply</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>Leave a reply <small>Your email address will not be published. Required fields are
                        marked*</small></h2>
                </div>
                <div class="body">
                    <div class="comment-form">
                        <form class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your Name" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email Address" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                        <textarea class="form-control no-resize"
                                                  placeholder="Please type what you want..."
                                                  rows="4"></textarea>
                                </div>
                                <button class="btn btn-block btn-primary" type="submit">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 right-box">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search..." type="text">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>Categories Clouds</h2>
                </div>
                <div class="body widget">
                    <ul class="list-unstyled categories-clouds m-b-0">
                        <li><a href="javascript:void(0);">eCommerce</a></li>
                        <li><a href="javascript:void(0);">Microsoft Technologies</a></li>
                        <li><a href="javascript:void(0);">Creative UX</a></li>
                        <li><a href="javascript:void(0);">Wordpress</a></li>
                        <li><a href="javascript:void(0);">Angular JS</a></li>
                        <li><a href="javascript:void(0);">Enterprise Mobility</a></li>
                        <li><a href="javascript:void(0);">Website Design</a></li>
                        <li><a href="javascript:void(0);">HTML5</a></li>
                        <li><a href="javascript:void(0);">Infographics</a></li>
                        <li><a href="javascript:void(0);">Wordpress Development</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>Popular Posts</h2>
                </div>
                <div class="body widget popular-post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_post">
                                <p class="m-b-0">Apple Introduces Search Ads Basic</p>
                                <span>jun 22, 2018</span>
                                <div class="img-post">
                                    <img alt="Awesome Image"
                                         src="https://via.placeholder.com/280x280/87CEFA/000000">
                                </div>
                            </div>
                            <div class="single_post">
                                <p class="m-b-0">new rules, more cars, more races</p>
                                <span>jun 8, 2018</span>
                                <div class="img-post">
                                    <img alt="Awesome Image"
                                         src="https://via.placeholder.com/280x280/87CEFA/000000">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>Instagram Post</h2>
                </div>
                <div class="body widget">
                    <ul class="list-unstyled instagram-plugin m-b-0">
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                        <li><a href="javascript:void(0);"><img
                                alt="image description" src="https://via.placeholder.com/100x100/87CEFA/000000"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>Email Newsletter <small>Get our products/news earlier than others, let’s get in
                        touch.</small></h2>
                </div>
                <div class="body widget newsletter">
                    <div class="input-group">
                        <input class="form-control" placeholder="Enter Email" type="text">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}