{% extends 'base.html' %}
{% load static %}
{% block custom_css_files %}
    <link rel="stylesheet" href="{% static 'posts/common.css' %}">

    <link rel="stylesheet" href="{% static 'users/profile/list.css' %}">
{% endblock %}
{% block content %}
    <div class="container bootstrap snippets bootdey pt-5">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                         src="{{ profile.profile_image.url }}" data-original-title="Usuario">
                    {#                    <ul title="Ratings" class="list-inline ratings text-center">#}
                    {#                        <li>#}
                    {#                            <a href="#"><span class="fa fa-star"></span></a>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <a href="#"><span class="fa fa-star"></span></a>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <a href="#"><span class="fa fa-star"></span></a>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <a href="#"><span class="fa fa-star"></span></a>#}
                    {#                        </li>#}
                    {#                        <li>#}
                    {#                            <a href="#"><span class="fa fa-star"></span></a>#}
                    {#                        </li>#}
                    {#                    </ul>#}
                </div>
                <div class="col-md-8">
                    <strong>Information</strong><br>
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                            {#                            <tr>#}
                            {#                                <td>#}
                            {#                                    <strong>#}
                            {#                                        <span class="fa fa-asterisk text-primary"></span>#}
                            {#                                        Identificacion#}
                            {#                                    </strong>#}
                            {#                                </td>#}
                            {#                                <td class="text-primary">#}
                            {#                                    123456789#}
                            {#                                </td>#}
                            {#                            </tr>#}
                            <tr>
                                <td>
                                    <strong>
                                        <span class="fa fa-user  text-primary"></span>
                                        Name
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ profile.first_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="fa fa-cloud text-primary"></span>
                                        Lastname
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ profile.last_name }}
                                </td>
                            </tr>

                            {#                            <tr>#}
                            {#                                <td>#}
                            {#                                    <strong>#}
                            {#                                        <span class="fa fa-bookmark text-primary"></span>#}
                            {#                                        Username#}
                            {#                                    </strong>#}
                            {#                                </td>#}
                            {#                                <td class="text-primary">#}
                            {#                                    bootnipets#}
                            {#                                </td>#}
                            {#                            </tr>#}


                            <tr>
                                <td>
                                    <strong>
                                        <span class="fa fa-eye text-primary"></span>
                                        Role
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ profile.title }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="fa fa-envelope text-primary"></span>
                                        Email
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ profile.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="fa fa-calendar text-primary"></span>
                                        created
                                    </strong>
                                </td>
                                <td class="text-primary">

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="fa fa-calendar text-primary"></span>
                                        Modified
                                    </strong>
                                </td>
                                <td class="text-primary">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container bootstrap snippets bootdey pt-5">
        <strong>Posts :</strong>
        <div class="row clearfix">
            {% for post in profile.post_set.all %}

                <div class="col-lg-6 col-md-12 left-box">
                    {% include 'post/includes/post_in_list.html' with post=post %}
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}